name: Issue Refresh Batch

on:
  workflow_dispatch:
    inputs:
      timezone:
        required: true
        description: 'Timezone'
        type: choice
        options:
          # https://gist.github.com/diogocapela/12c6617fc87607d11fd62d2a4f42b02a
          - ''
          - 'Etc/Universal'
          - 'Asia/Tokyo'
          - 'Australia/Sydney'
        # Comment #1
        #   When it is performed by workflow_dispatch, this default value will be referenced
        #   instead of 'foo' in '${{ github.event.inputs.timezone || 'foo' }}'.
        #   See also Comment #2.
        default: 'Asia/Tokyo'
      my_annual:
        required: true
        description: 'My annual'
        type: string
        default: '864'
  schedule:
    # Read this if you want to delay the time to change the diary issues.
    #   https://github.com/noraworld/reserved-diary/issues/708#issuecomment-2790207338
    #   https://github.com/noraworld/reserved-diary/issues/708#issuecomment-2790217630
    #   https://github.com/noraworld/reserved-diary/issues/708#issuecomment-2790220599
    - cron: '45 23 * * *' # 8:45 JST

jobs:
  # reserved-diary
  comments-transferor-force:
    uses: noraworld/social-media-recorder/.github/workflows/comments-transferor-force.yml@main
    secrets:
      gh_token: ${{ secrets.GH_TOKEN }}

  templates-closer:
    needs: comments-transferor-force
    uses: noraworld/diary/.github/workflows/templates-closer.yml@main
    with:
      repo: noraworld/diary-templates
      # Comment #2
      #   The value after '||' is only referenced in cron.
      #   See also Comment #1.
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
      date_check: true
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  wait-for-templates-closed:
    needs: templates-closer
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Check if all of the diary templates have successfully been closed
        run: |
          trial=0

          # Wait for all of the diary templates to be closed.
          while [ "$(gh issue list --repo "noraworld/diary-templates" | wc -l)" -ne 0 ]; do
            # The shorter the sleep interval is, the more frequently the error below may occur.
            #   GraphQL: was submitted too quickly (createIssue)
            sleep 15

            trial=$(($trial + 1))
            if [ "$trial" -gt 5 ]; then
              echo "Timeout period exceeded." >&2
              exit 1
            fi
          done

          # To avoid causing the error. Just in case.
          sleep 30
        shell: sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  convert-unchecked:
    needs: wait-for-templates-closed
    uses: noraworld/diary/.github/workflows/convert-unchecked.yml@main
    with:
      main_repo: noraworld/reserved-diary
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  issue-changer:
    needs: convert-unchecked
    uses: noraworld/diary/.github/workflows/issue-changer.yml@main
    with:
      main_repo: noraworld/reserved-diary
      template_repo: noraworld/diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  templates-creator:
    needs: issue-changer
    uses: noraworld/diary/.github/workflows/templates-creator.yml@main
    with:
      main_repo: noraworld/reserved-diary
      template_repo: noraworld/diary-templates
      issue_template_repo: noraworld/diary-templates-assistant
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  templates-linker:
    needs: templates-creator
    uses: noraworld/diary/.github/workflows/templates-linker.yml@main
    with:
      main_repo: noraworld/reserved-diary
      template_repo: noraworld/diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}



  # private-diary
  private-templates-closer:
    needs: templates-linker
    uses: noraworld/diary/.github/workflows/templates-closer.yml@main
    with:
      repo: noraworld/private-diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
      date_check: true
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  private-wait-for-templates-closed:
    needs: private-templates-closer
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Check if all of the private diary templates have successfully been closed
        run: |
          trial=0

          # Wait for all of the private diary templates to be closed.
          while [ "$(gh issue list --repo "noraworld/private-diary-templates" | wc -l)" -ne 0 ]; do
            # The shorter the sleep interval is, the more frequently the error below may occur.
            #   GraphQL: was submitted too quickly (createIssue)
            sleep 15

            trial=$(($trial + 1))
            if [ "$trial" -gt 5 ]; then
              echo "Timeout period exceeded." >&2
              exit 1
            fi
          done

          # To avoid causing the error. Just in case.
          sleep 30
        shell: sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  private-convert-unchecked:
    needs: private-wait-for-templates-closed
    uses: noraworld/diary/.github/workflows/convert-unchecked.yml@main
    with:
      main_repo: noraworld/private-diary
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  private-issue-changer:
    needs: private-convert-unchecked
    uses: noraworld/diary/.github/workflows/issue-changer.yml@main
    with:
      main_repo: noraworld/private-diary
      template_repo: noraworld/private-diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  private-templates-creator:
    needs: private-issue-changer
    uses: noraworld/diary/.github/workflows/templates-creator.yml@main
    with:
      main_repo: noraworld/private-diary
      template_repo: noraworld/private-diary-templates
      issue_template_repo: noraworld/private-diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  private-templates-linker:
    needs: private-templates-creator
    uses: noraworld/diary/.github/workflows/templates-linker.yml@main
    with:
      main_repo: noraworld/private-diary
      template_repo: noraworld/private-diary-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}



  # daily-report
  daily-report-day-off:
    uses: noraworld/diary/.github/workflows/day-off.yml@main
    with:
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}

  daily-report-templates-closer:
    needs: daily-report-day-off
    uses: noraworld/diary/.github/workflows/templates-closer.yml@main
    with:
      repo: noraworld/daily-report-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
      date_check: false
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  daily-report-wait-for-templates-closed:
    needs: daily-report-templates-closer
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Check if all of the templates have successfully been closed
        run: |
          trial=0

          # Wait for all of the templates to be closed.
          while [ "$(gh issue list --repo "noraworld/daily-report-templates" | wc -l)" -ne 0 ]; do
            # The shorter the sleep interval is, the more frequently the error below may occur.
            #   GraphQL: was submitted too quickly (createIssue)
            sleep 15

            trial=$(($trial + 1))
            if [ "$trial" -gt 5 ]; then
              echo "Timeout period exceeded." >&2
              exit 1
            fi
          done

          # To avoid causing the error. Just in case.
          sleep 30
        shell: sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  daily-report-convert-unchecked:
    needs: daily-report-wait-for-templates-closed
    uses: noraworld/diary/.github/workflows/convert-unchecked.yml@main
    with:
      main_repo: noraworld/daily-report
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  daily-report-issue-changer:
    needs: daily-report-convert-unchecked
    uses: noraworld/diary/.github/workflows/issue-changer.yml@main
    with:
      main_repo: noraworld/daily-report
      template_repo: noraworld/daily-report-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  daily-report-templates-creator:
    needs: daily-report-issue-changer
    uses: noraworld/diary/.github/workflows/templates-creator.yml@main
    with:
      main_repo: noraworld/daily-report
      template_repo: noraworld/daily-report-templates
      issue_template_repo: noraworld/daily-report-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  daily-report-templates-linker:
    needs: daily-report-templates-creator
    uses: noraworld/diary/.github/workflows/templates-linker.yml@main
    with:
      main_repo: noraworld/daily-report
      template_repo: noraworld/daily-report-templates
      timezone: ${{ github.event.inputs.timezone || 'Asia/Tokyo' }}
    secrets:
      token: ${{ secrets.GH_TOKEN }}

  daily-report-wage:
    needs: daily-report-templates-linker
    uses: noraworld/diary/.github/workflows/wage.yml@main
    with:
      my_annual: ${{ github.event.inputs.my_annual || '864' }}
    secrets:
      gh_token: ${{ secrets.GH_TOKEN }}
      resas_api_key: ${{ secrets.RESAS_API_KEY }}
