name: 'dαа: 🪷🤔 気分記録 / 感情パイチャート'

on:
  workflow_dispatch:
    inputs:
      mood:
        required: true
        description: '気分度'
        type: choice
        options:
          - ''
          - '☆☆☆☆☆☆☆☆☆☆'
          - '★☆☆☆☆☆☆☆☆☆'
          - '★★☆☆☆☆☆☆☆☆'
          - '★★★☆☆☆☆☆☆☆'
          - '★★★★☆☆☆☆☆☆'
          - '★★★★★☆☆☆☆☆'
          - '★★★★★★☆☆☆☆'
          - '★★★★★★★☆☆☆'
          - '★★★★★★★★☆☆'
          - '★★★★★★★★★☆'
          - '★★★★★★★★★★'
      event:
        required: true
        description: '出来事'
        type: string
      type1:
        required: false
        description: 'ラベル 1'
        type: choice
        options:
          - ''
          - '悲しみ'
          - '不安'
          - '怒り'
          - 'イライラ'
          - '恥ずかしさ'
          - '嫌悪'
          - '罪悪感'
          - '焦燥感'
          - '憂鬱'
          - '無価値'
          - '緊張'
          - '落ち着かない'
          - '絶望'
          - '恐怖'
          - '動揺'
          - '孤独'
          - '不満'
          - '面倒'
          - '嫉妬'
          - '疲労感'
          - '無気力'
          - ''
          - '明るい'
          - '元気'
          - '幸せ'
          - '穏やか'
          - '満足'
          - '充実'
          - '熱心'
          - '気配り'
          - '誇り'
          - '活動的'
          - '人と親しい'
          - '帰属意識'
          - '自信'
      degree1:
        required: false
        description: '度合い 1'
        type: choice
        options:
          - ''
          - '0'
          - '5'
          - '10'
          - '15'
          - '20'
          - '25'
          - '30'
          - '35'
          - '40'
          - '45'
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '75'
          - '80'
          - '85'
          - '90'
          - '95'
          - '100'
      type2:
        required: false
        description: 'ラベル 2'
        type: choice
        options:
          - ''
          - '悲しみ'
          - '不安'
          - '怒り'
          - 'イライラ'
          - '恥ずかしさ'
          - '嫌悪'
          - '罪悪感'
          - '焦燥感'
          - '憂鬱'
          - '無価値'
          - '緊張'
          - '落ち着かない'
          - '絶望'
          - '恐怖'
          - '動揺'
          - '孤独'
          - '不満'
          - '面倒'
          - '嫉妬'
          - '疲労感'
          - '無気力'
          - ''
          - '明るい'
          - '元気'
          - '幸せ'
          - '穏やか'
          - '満足'
          - '充実'
          - '熱心'
          - '気配り'
          - '誇り'
          - '活動的'
          - '人と親しい'
          - '帰属意識'
          - '自信'
      degree2:
        required: false
        description: '度合い 2'
        type: choice
        options:
          - ''
          - '0'
          - '5'
          - '10'
          - '15'
          - '20'
          - '25'
          - '30'
          - '35'
          - '40'
          - '45'
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '75'
          - '80'
          - '85'
          - '90'
          - '95'
          - '100'
      type3:
        required: false
        description: 'ラベル 3'
        type: choice
        options:
          - ''
          - '悲しみ'
          - '不安'
          - '怒り'
          - 'イライラ'
          - '恥ずかしさ'
          - '嫌悪'
          - '罪悪感'
          - '焦燥感'
          - '憂鬱'
          - '無価値'
          - '緊張'
          - '落ち着かない'
          - '絶望'
          - '恐怖'
          - '動揺'
          - '孤独'
          - '不満'
          - '面倒'
          - '嫉妬'
          - '疲労感'
          - '無気力'
          - ''
          - '明るい'
          - '元気'
          - '幸せ'
          - '穏やか'
          - '満足'
          - '充実'
          - '熱心'
          - '気配り'
          - '誇り'
          - '活動的'
          - '人と親しい'
          - '帰属意識'
          - '自信'
      degree3:
        required: false
        description: '度合い 3'
        type: choice
        options:
          - ''
          - '0'
          - '5'
          - '10'
          - '15'
          - '20'
          - '25'
          - '30'
          - '35'
          - '40'
          - '45'
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '75'
          - '80'
          - '85'
          - '90'
          - '95'
          - '100'
      type4:
        required: false
        description: 'ラベル 4'
        type: choice
        options:
          - ''
          - '悲しみ'
          - '不安'
          - '怒り'
          - 'イライラ'
          - '恥ずかしさ'
          - '嫌悪'
          - '罪悪感'
          - '焦燥感'
          - '憂鬱'
          - '無価値'
          - '緊張'
          - '落ち着かない'
          - '絶望'
          - '恐怖'
          - '動揺'
          - '孤独'
          - '不満'
          - '面倒'
          - '嫉妬'
          - '疲労感'
          - '無気力'
          - ''
          - '明るい'
          - '元気'
          - '幸せ'
          - '穏やか'
          - '満足'
          - '充実'
          - '熱心'
          - '気配り'
          - '誇り'
          - '活動的'
          - '人と親しい'
          - '帰属意識'
          - '自信'
      degree4:
        required: false
        description: '度合い 4'
        type: choice
        options:
          - ''
          - '0'
          - '5'
          - '10'
          - '15'
          - '20'
          - '25'
          - '30'
          - '35'
          - '40'
          - '45'
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '75'
          - '80'
          - '85'
          - '90'
          - '95'
          - '100'

jobs:
  emotional-pie-chart:
    uses: noraworld/diary-templates-assistant/.github/workflows/base.yml@main
    with:
      search_query: "mood 気分記録"
      template_name: "emotional-pie-chart"
      template_repo: "noraworld/diary-templates"
      version: "0.1.1"
    secrets:
      token: ${{ secrets.GH_TOKEN }}
