name: '08-1: 慰労記録 (感謝日記)'

on:
  workflow_dispatch:
    inputs:
      people1:
        required: true
        description: '感謝した相手 1'
        type: string
      words1:
        required: true
        description: '感謝の言葉 1'
        type: string
      people2:
        required: false
        description: '感謝した相手 2'
        type: string
      words2:
        required: false
        description: '感謝の言葉 2'
        type: string
      people3:
        required: false
        description: '感謝した相手 3'
        type: string
      words3:
        required: false
        description: '感謝の言葉 3'
        type: string
      people4:
        required: false
        description: '感謝した相手 4'
        type: string
      words4:
        required: false
        description: '感謝の言葉 4'
        type: string
      people5:
        required: false
        description: '感謝した相手 5'
        type: string
      words5:
        required: false
        description: '感謝の言葉 5'
        type: string

jobs:
  gratitude:
    uses: noraworld/diary-templates-assistant/.github/workflows/base.yml@main
    with:
      search_query: "esteem 慰労記録"
      template_name: "gratitude"
      template_repo: "noraworld/diary-templates"
    secrets:
      token: ${{ secrets.GH_TOKEN }}
